# pandas 패키지와 DataFrame 객체

In [20]:
import numpy as np
import pandas as pd

In [21]:
np.random.seed(0)
df=pd.DataFrame(np.random.randint(10,size=(3,4)),columns=['col1','col2','col3','col4'])

In [22]:
df

   col1  col2  col3  col4
0     5     0     3     3
1     7     9     3     5
2     2     4     7     6

In [23]:
df["col2"]

0    0
1    9
2    4
Name: col2, dtype: int32

In [24]:
df.col2

0    0
1    9
2    4
Name: col2, dtype: int32